<ol class='breadcrumb' style="align:center">
  <li><%= link_to '首页', welcome_path,:style=>'color:#1E90FF' %></li>
  <li class="active">竞价列表</li>
</ol>
<div class="panel panel-default" style="margin-left: 180px; margin-right: 180px">
  <div class="panel-heading ">
    竞价列表
    <a class="text text-right"><%= link_to '报名列表',show_activity_sign_up_view_path(:activity_name=>params[:activity_name])%>
    </a>
  </div>
  <table class="table">
    <tr>
      <td>编号</td>
      <td>名称</td>
      <td>参与人数</td>
    </tr>
    <% @bids.each do |bid|%>
        <tr>
          <td> <%= @count +=1 %></td>
          <td> <%= link_to bid.bid_name,show_bid_list_detail_view_path(:activity_name=>bid.activity_name,
                       :bid_name=>bid.bid_name),:style=>"color: #1E90FF" %></td>
          <td><%= bid.bid_people_number.to_s+'/'+ @sign_up_number.to_s %></td>
        </tr>
    <% end %>
  </table>
</div>
<div align="center">
  <%= will_paginate @bids, :previous_label => '上一页', :next_label=>'下一页'  %>
</div>