<div style="background: #F5F5F5; width: 659px; margin:auto auto auto auto">
  <div class= "form-group" style="padding: 50px 50px 50px 50px;width:659px ;margin:auto auto">
    <h4>重置密码</h4>
    <div class="col-sm-offset-2 col-sm-10 text-right" >
      <%= link_to "用户登录",login_path, :style=> "color: #1E90FF"%>
    </div>
    <%= form_tag "check_question_and_answer" do %>
        <div class="input-group" style="margin:20px auto auto auto; width: 559px">
          <span class="input-group-addon text-center" style="width: 120px">忘记密码问题</span>
           <input class ="form-control " type="text" disabled="disableInput" style ="width:450px" placeholder=<%= @password_question%>>
        </div>
        <div class="input-group" style="margin:20px auto auto auto; width: 559px">
          <span class="input-group-addon text-center" style="width: 120px">忘记密码答案</span>
          <%= text_field_tag :password_answer, params[:password_answer], :class => "form-control", :style => "width:450px",:placeholder=>"请输入答案"%>
        </div>
        <%= render 'shared/flash_message'%>
        <div class="text-center">
          <%= submit_tag "下一步",:class=>"btn btn-default",:style=>"margin:20px auto auto auto;width:150px;"%>
        </div>
    <%end%>
  </div>
</div>